developer/Samples/NET 4.6/WF_WCF_Samples/WCF/Basic/Services/ConfigHierarchicalModel/CS/Client/Service References/ServiceReference3/Service3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.Samples.ConfigHierarchicalModel" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.Samples.ConfigHierarchicalModel" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.Samples.ConfigHierarchicalModel/Imports">
      <xsd:import schemaLocation="http://amadeochv.redmond.corp.microsoft.com/servicemodelsamples/Level2/Service3/Service3.svc?xsd=xsd0" namespace="http://Microsoft.Samples.ConfigHierarchicalModel" />
      <xsd:import schemaLocation="http://amadeochv.redmond.corp.microsoft.com/servicemodelsamples/Level2/Service3/Service3.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://amadeochv.redmond.corp.microsoft.com/servicemodelsamples/Level2/Service3/Service3.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDesc_ListEndpoints_InputMessage">
    <wsdl:part name="parameters" element="tns:ListEndpoints" />
  </wsdl:message>
  <wsdl:message name="IDesc_ListEndpoints_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListEndpointsResponse" />
  </wsdl:message>
  <wsdl:message name="IDesc_ListServiceBehaviors_InputMessage">
    <wsdl:part name="parameters" element="tns:ListServiceBehaviors" />
  </wsdl:message>
  <wsdl:message name="IDesc_ListServiceBehaviors_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListServiceBehaviorsResponse" />
  </wsdl:message>
  <wsdl:message name="IDesc_ListEndpointBehaviors_InputMessage">
    <wsdl:part name="parameters" element="tns:ListEndpointBehaviors" />
  </wsdl:message>
  <wsdl:message name="IDesc_ListEndpointBehaviors_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListEndpointBehaviorsResponse" />
  </wsdl:message>
  <wsdl:message name="IDesc_HttpGetEnabled_InputMessage">
    <wsdl:part name="parameters" element="tns:HttpGetEnabled" />
  </wsdl:message>
  <wsdl:message name="IDesc_HttpGetEnabled_OutputMessage">
    <wsdl:part name="parameters" element="tns:HttpGetEnabledResponse" />
  </wsdl:message>
  <wsdl:message name="IDesc_IncludeExceptionDetailInFaults_InputMessage">
    <wsdl:part name="parameters" element="tns:IncludeExceptionDetailInFaults" />
  </wsdl:message>
  <wsdl:message name="IDesc_IncludeExceptionDetailInFaults_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncludeExceptionDetailInFaultsResponse" />
  </wsdl:message>
  <wsdl:message name="IDesc_HttpGetUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:HttpGetUrl" />
  </wsdl:message>
  <wsdl:message name="IDesc_HttpGetUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:HttpGetUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IDesc_HttpHelpPageUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:HttpHelpPageUrl" />
  </wsdl:message>
  <wsdl:message name="IDesc_HttpHelpPageUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:HttpHelpPageUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="IDesc">
    <wsdl:operation name="ListEndpoints">
      <wsdl:input wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/ListEndpoints" message="tns:IDesc_ListEndpoints_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/ListEndpointsResponse" message="tns:IDesc_ListEndpoints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListServiceBehaviors">
      <wsdl:input wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/ListServiceBehaviors" message="tns:IDesc_ListServiceBehaviors_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/ListServiceBehaviorsResponse" message="tns:IDesc_ListServiceBehaviors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListEndpointBehaviors">
      <wsdl:input wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/ListEndpointBehaviors" message="tns:IDesc_ListEndpointBehaviors_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/ListEndpointBehaviorsResponse" message="tns:IDesc_ListEndpointBehaviors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HttpGetEnabled">
      <wsdl:input wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/HttpGetEnabled" message="tns:IDesc_HttpGetEnabled_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/HttpGetEnabledResponse" message="tns:IDesc_HttpGetEnabled_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncludeExceptionDetailInFaults">
      <wsdl:input wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/IncludeExceptionDetailInFaults" message="tns:IDesc_IncludeExceptionDetailInFaults_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/IncludeExceptionDetailInFaultsResponse" message="tns:IDesc_IncludeExceptionDetailInFaults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HttpGetUrl">
      <wsdl:input wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/HttpGetUrl" message="tns:IDesc_HttpGetUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/HttpGetUrlResponse" message="tns:IDesc_HttpGetUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HttpHelpPageUrl">
      <wsdl:input wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/HttpHelpPageUrl" message="tns:IDesc_HttpHelpPageUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/HttpHelpPageUrlResponse" message="tns:IDesc_HttpHelpPageUrl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>