developer/Samples/NET 4.6/WF_WCF_Samples/WF/Basic/Services/DurableDuplex/CS/DurableDuplexClient/Service References/Service1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IStart_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <IncludeContext ProtectionLevel="Sign" xmlns="http://schemas.microsoft.com/ws/2006/05/context" />
        <msmq:MsmqBestEffort xmlns:msmq="http://schemas.microsoft.com/ws/06/2004/mspolicy/msmq" />
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="CustomBinding_INotify_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <IncludeContext ProtectionLevel="Sign" xmlns="http://schemas.microsoft.com/ws/2006/05/context" />
        <msmq:MsmqBestEffort xmlns:msmq="http://schemas.microsoft.com/ws/06/2004/mspolicy/msmq" />
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/private/DurableDuplex/Service1.xamlx?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStart_Start_InputMessage" />
  <wsdl:message name="INotify_WorkCompleted_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="string" element="q1:string" />
  </wsdl:message>
  <wsdl:portType name="IStart">
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IStart/Start" message="tns:IStart_Start_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="INotify">
    <wsdl:operation name="WorkCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/INotify/WorkCompleted" message="tns:INotify_WorkCompleted_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStart" type="tns:IStart">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://tempuri.org/IStart/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_INotify" type="tns:INotify">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WorkCompleted">
      <soap:operation soapAction="http://tempuri.org/INotify/WorkCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_IStart" type="tns:IStart">
    <wsp:PolicyReference URI="#CustomBinding_IStart_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/msmq" />
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/IStart/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_INotify" type="tns:INotify">
    <wsp:PolicyReference URI="#CustomBinding_INotify_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/msmq" />
    <wsdl:operation name="WorkCompleted">
      <soap12:operation soapAction="http://tempuri.org/INotify/WorkCompleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IStart" binding="tns:BasicHttpBinding_IStart">
      <soap:address location="http://localhost/private/DurableDuplex/Service1.xamlx" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_INotify" binding="tns:BasicHttpBinding_INotify">
      <soap:address location="http://localhost/private/DurableDuplex/Service1.xamlx" />
    </wsdl:port>
    <wsdl:port name="CustomBinding_IStart" binding="tns:CustomBinding_IStart">
      <soap12:address location="net.msmq://localhost/private/DurableDuplex/Service1.xamlx" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.msmq://localhost/private/DurableDuplex/Service1.xamlx</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="CustomBinding_INotify" binding="tns:CustomBinding_INotify">
      <soap12:address location="net.msmq://localhost/private/DurableDuplex/Service1.xamlx" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.msmq://localhost/private/DurableDuplex/Service1.xamlx</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>