developer/Samples/NET 4.6/WF_WCF_Samples/WF/Basic/Services/BufferedReceive/CS/LoanClient/LoanClient/Service References/ServiceReference1/LoanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetMsmqBinding_ILoanService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msmq:Authenticated xmlns:msmq="http://schemas.microsoft.com/ws/06/2004/mspolicy/msmq" />
        <msmq:WindowsDomain xmlns:msmq="http://schemas.microsoft.com/ws/06/2004/mspolicy/msmq" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://asadjv1.redmond.corp.microsoft.com/private/LoanService/Service1.xamlx?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoanService_CreateRequest_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="string" element="q1:string" />
  </wsdl:message>
  <wsdl:message name="ILoanService_LenderAcknowledgement_InputMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="string" element="q2:string" />
  </wsdl:message>
  <wsdl:message name="ILoanService_EscrowAcknowledgement_InputMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" name="string" element="q3:string" />
  </wsdl:message>
  <wsdl:portType name="ILoanService">
    <wsdl:operation name="CreateRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanService/CreateRequest" message="tns:ILoanService_CreateRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LenderAcknowledgement">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanService/LenderAcknowledgement" message="tns:ILoanService_LenderAcknowledgement_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EscrowAcknowledgement">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoanService/EscrowAcknowledgement" message="tns:ILoanService_EscrowAcknowledgement_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetMsmqBinding_ILoanService" type="tns:ILoanService">
    <wsp:PolicyReference URI="#NetMsmqBinding_ILoanService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/msmq" />
    <wsdl:operation name="CreateRequest">
      <soap12:operation soapAction="http://tempuri.org/ILoanService/CreateRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LenderAcknowledgement">
      <soap12:operation soapAction="http://tempuri.org/ILoanService/LenderAcknowledgement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EscrowAcknowledgement">
      <soap12:operation soapAction="http://tempuri.org/ILoanService/EscrowAcknowledgement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanService">
    <wsdl:port name="NetMsmqBinding_ILoanService" binding="tns:NetMsmqBinding_ILoanService">
      <soap12:address location="net.msmq://localhost/private/LoanService/Service1.xamlx" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.msmq://localhost/private/LoanService/Service1.xamlx</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>