sdk/samples/all in on code/Visual Studio 2010/VBAzureXbap/XbapClient/Service References/DataCenterServiceReference/DataCenterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataCenter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataCenter" nillable="true" type="tns:DataCenter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataCenter" nillable="true" type="tns:ArrayOfDataCenter" />
  <xs:complexType name="DataCenter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bound" nillable="true" type="tns:Rect" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataCenter" nillable="true" type="tns:DataCenter" />
  <xs:complexType name="Rect">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Width" type="xs:double" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rect" nillable="true" type="tns:Rect" />
</xs:schema>