developer/Samples/NET 4.6/WF_WCF_Samples/WF/Basic/Services/XAMLService/CS/Client/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpContextBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <HttpUseCookie xmlns="http://schemas.xmlsoap.org/soap/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53342/Service1.xamlx?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_NextStep_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="boolean" element="q1:boolean" />
  </wsdl:message>
  <wsdl:message name="IService_NextStep_OutputMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="string" element="q2:string" />
  </wsdl:message>
  <wsdl:message name="IService_DiagnoseStart_InputMessage" />
  <wsdl:message name="IService_DiagnoseStart_OutputMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" name="string" element="q3:string" />
  </wsdl:message>
  <wsdl:message name="IService_DiagnoseAC_InputMessage" />
  <wsdl:message name="IService_DiagnoseAC_OutputMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" name="string" element="q4:string" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="NextStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/NextStep" message="tns:IService_NextStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/NextStepResponse" message="tns:IService_NextStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DiagnoseStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DiagnoseStart" message="tns:IService_DiagnoseStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DiagnoseStartResponse" message="tns:IService_DiagnoseStart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DiagnoseAC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DiagnoseAC" message="tns:IService_DiagnoseAC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DiagnoseACResponse" message="tns:IService_DiagnoseAC_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpContextBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#BasicHttpContextBinding_IService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NextStep">
      <soap:operation soapAction="http://tempuri.org/IService/NextStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DiagnoseStart">
      <soap:operation soapAction="http://tempuri.org/IService/DiagnoseStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DiagnoseAC">
      <soap:operation soapAction="http://tempuri.org/IService/DiagnoseAC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpContextBinding_IService" binding="tns:BasicHttpContextBinding_IService">
      <soap:address location="http://localhost:53342/Service1.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>