developer/Samples/NET 4.6/WF_WCF_Samples/WCF/Basic/Services/ConfigHierarchicalModel/CS/Client/Service References/ServiceReference6/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Microsoft.Samples.ConfigHierarchicalModel" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://Microsoft.Samples.ConfigHierarchicalModel" location="http://amadeochv.redmond.corp.microsoft.com/servicemodelsamples/Level2/Service3/Level3/Service6/Service6.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IDesc" type="i0:IDesc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListEndpoints">
      <soap:operation soapAction="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/ListEndpoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListServiceBehaviors">
      <soap:operation soapAction="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/ListServiceBehaviors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListEndpointBehaviors">
      <soap:operation soapAction="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/ListEndpointBehaviors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HttpGetEnabled">
      <soap:operation soapAction="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/HttpGetEnabled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncludeExceptionDetailInFaults">
      <soap:operation soapAction="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/IncludeExceptionDetailInFaults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HttpGetUrl">
      <soap:operation soapAction="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/HttpGetUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HttpHelpPageUrl">
      <soap:operation soapAction="http://Microsoft.Samples.ConfigHierarchicalModel/IDesc/HttpHelpPageUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IDesc" binding="tns:BasicHttpBinding_IDesc">
      <soap:address location="http://amadeochv.redmond.corp.microsoft.com/servicemodelsamples/Level2/Service3/Level3/Service6/Service6.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>