developer/Samples/NET 4.6/WF_WCF_Samples/WF/Scenario/Services/OperationScope/CS/Scenario_Client/Service References/ServiceReference1/BankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://bank.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IBankService" targetNamespace="http://bank.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost:8080/OpScope?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://bank.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/OpScope?xsd=xsd0" namespace="http://bank.org" />
      <xsd:import schemaLocation="http://localhost:8080/OpScope?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankService_OpenAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenAccount" />
  </wsdl:message>
  <wsdl:message name="IBankService_OpenAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_Deposit_InputMessage">
    <wsdl:part name="parameters" element="tns:Deposit" />
  </wsdl:message>
  <wsdl:message name="IBankService_Deposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_Withdraw_InputMessage">
    <wsdl:part name="parameters" element="tns:Withdraw" />
  </wsdl:message>
  <wsdl:message name="IBankService_Withdraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_CloseAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseAccount" />
  </wsdl:message>
  <wsdl:message name="IBankService_CloseAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankService">
    <wsdl:operation name="OpenAccount">
      <wsdl:input wsaw:Action="http://bank.org/IBankService/OpenAccount" message="tns:IBankService_OpenAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://bank.org/IBankService/OpenAccountResponse" message="tns:IBankService_OpenAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <wsdl:input wsaw:Action="http://bank.org/IBankService/Deposit" message="tns:IBankService_Deposit_InputMessage" />
      <wsdl:output wsaw:Action="http://bank.org/IBankService/DepositResponse" message="tns:IBankService_Deposit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <wsdl:input wsaw:Action="http://bank.org/IBankService/Withdraw" message="tns:IBankService_Withdraw_InputMessage" />
      <wsdl:output wsaw:Action="http://bank.org/IBankService/WithdrawResponse" message="tns:IBankService_Withdraw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseAccount">
      <wsdl:input wsaw:Action="http://bank.org/IBankService/CloseAccount" message="tns:IBankService_CloseAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://bank.org/IBankService/CloseAccountResponse" message="tns:IBankService_CloseAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="IBankService">
    <wsdl:port name="BasicHttpContextBinding_IBankService" binding="i0:BasicHttpContextBinding_IBankService">
      <soap:address location="http://localhost:8080/OpScope" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>