developer/Samples/NET 4.6/WF_WCF_Samples/WF/Scenario/Services/OperationScope/CS/Scenario_Client/Service References/ServiceReference1/OpScope1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bank.org" elementFormDefault="qualified" targetNamespace="http://bank.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OpenAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="X" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Result" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="X" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Result" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Y" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Result" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAccount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Result" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>