sdk/samples/WCFSamples/TechnologySamples/Basic/Contract/Data/POCO/CS/client/ServiceReferences/Microsoft.ServiceModel.Samples/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost/ServiceModelSamples/service.svc?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost/ServiceModelSamples/service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ServiceModelSamples/service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.ServiceModel.Samples" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataContractCalculator_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IDataContractCalculator_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IDataContractCalculator_Subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="IDataContractCalculator_Subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="IDataContractCalculator_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="IDataContractCalculator_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="IDataContractCalculator_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="IDataContractCalculator_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataContractCalculator">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IDataContractCalculator/Add" message="tns:IDataContractCalculator_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IDataContractCalculator/AddResponse" message="tns:IDataContractCalculator_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IDataContractCalculator/Subtract" message="tns:IDataContractCalculator_Subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IDataContractCalculator/SubtractResponse" message="tns:IDataContractCalculator_Subtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IDataContractCalculator/Multiply" message="tns:IDataContractCalculator_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IDataContractCalculator/MultiplyResponse" message="tns:IDataContractCalculator_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IDataContractCalculator/Divide" message="tns:IDataContractCalculator_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IDataContractCalculator/DivideResponse" message="tns:IDataContractCalculator_Divide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>