sdk/samples/all in on code/Visual Studio 2010/VBSL4WCFNetTcp/VBSL4WCFNetTcp/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWeatherService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_UnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_WeatherReport_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:WeatherReport" />
  </wsdl:message>
  <wsdl:portType name="IWeatherService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/Subscribe" message="tns:IWeatherService_Subscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/UnSubscribe" message="tns:IWeatherService_UnSubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WeatherReport">
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/WeatherReport" message="tns:IWeatherService_WeatherReport_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWeatherService" type="tns:IWeatherService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWeatherService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/UnSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="WeatherReport">
      <soap12:operation soapAction="http://tempuri.org/IWeatherService/WeatherReport" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="NetTcpBinding_IWeatherService" binding="tns:NetTcpBinding_IWeatherService">
      <soap12:address location="net.tcp://localhost:4504/WeatherService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4504/WeatherService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>