sdk/samples/all in on code/Visual Studio 2008/CSSL3DeepZoom/CSSL3DeepZoom/Service References/DeepZoomServiceReference/GenerateDeepZoomService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://code.fx/" elementFormDefault="qualified" targetNamespace="http://code.fx/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PrepareDeepZoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="forceGenerateDeepZoom" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrepareDeepZoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrepareDeepZoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>